<section class="phx-hero">
  <h1>Welcome to Tilewars</h1>
</section>

<section class="row">
  <input id="nameInput_name" type="text" value="choose a name" />
  <button id="join">Join</button>

</section>
